/* Have transferred to tutorials from learnpython dev with NNJA */
h1{
    text-align: center;
    color: darkgrey;
}
h4{
    text-align: center;
    color: darkgray;
    text-decoration: underline;
    font-size: 1.5em;
}
p{
    text-align: center;
    color: cadetblue;
    font-size: 1.1em;
    font-family: Courier;
}
li{
    text-align: center;
    color: darkslategray;
    font-family: Courier;
}