h1{
    text-align: center;
    color: darkgrey;
}
h4{
    text-align: center;
    color: darkgray;
}
p{
    text-align: left;
    color: cadetblue;
    font-size: 1.5em;
}
li{
    text-align: center;
    color: darkslategray;
}